/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
h1,h2,h3 {
  font-family:'open-sans',sans-serif;
    
}
#logo-resize{
  
  height: "200";
  width:auto;
}
.Home-callout,.navbar{

    //Gradient from : http://uigradients.com/#


background: #00bf8f; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00bf8f , #001510); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00bf8f , #001510); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
        
}
.navbar{
  border:none;
}

#newlogo {
  height: 80px;
  width:auto;
  position:relative;
  margin-top:-15px;
  margin-left:-25px;
  border-radius:100%;
  background-color:#BFFFD9;
  
}
.Home-callout{
    color:#BFFFD9;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}
#afromap {
    display: block;
    margin-top:-120px;
    height:300px;
    width:auto;
   
}
.navbar-default .navbar-nav > li > a {
    color: #BFFFD9;
    font-family:'open-sans',sans-serif;
}
body{
  background-color:#BFFFD9;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #BFFFD9;
  opacity: 0.5;
}

#newlogo:hover{
  opacity: 0.75;
}